<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link href="login.css" rel="stylesheet" type="text/css">

<script src="http://code.angularjs.org/1.2.13/angular.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
<script src="app.js"></script>
</head>

<body ng-app="routerApp">

<div id="pageHeading">
<h1><big><big><i>NINJA BRAWL</i></big></big></h1>

<div id="pageContent" ng-controller="LoginCtrl">
<ui-view></ui-view>
<script type="text/ng-template" id="/login.html">

  <div id="existing" ng-controller="LoginCtrl">
    <h2>LOGIN</h2>
    <p class="error" ng-hide="loginUser.hide">{{loginUser.message}}</p>
    <form ng-submit="login()" id="loginform">
<p>Username<br><input ng-model="username" type="text" class="resizedTextbox" /></p>
    <p>Password<br><input ng-model="password" type="password" class="resizedTextbox" /></p>
    <input type="submit" value="Login" class="resizedButton" />
    </form>
  </div>

  <div id="newuser" ng-controller="LoginCtrl">
    <h2>NEW USER</h2>
    <p class="error" ng-hide="createUser.hide">{{createUser.message}}</p>
    <form ng-submit="addUser()"> <!-- action="#/securityQ"-->
    <p>Enter a username<br><input ng-model="newname" type="text" class="resizedTextbox" /></p>
    <p>Enter a password<br><input ng-model="newpass" type="password" class="resizedTextbox" /></p>
    <p>Re-enter your password<br><input ng-model="reenter" type="password" class="resizedTextbox" /></p>
    <input id="creatbtn" type="submit" value="Create" class="resizedButton" />
    </form>
  </div>
</script>

<script type="text/ng-template" id="/securityQ.html">
  <div id="question">
    <h2>Security question</h2>
    <form id="securityQuestionForm" action = "/">
    <p>Enter a security question so you can recover your password</p>
    <p>Question<br><input id="question" type="text" class="resizedTextbox" /></p>
    <p>Answer<br><input id="answer" type="text" class="resizedTextbox" /></p>
    <input id="qsubmit" type="submit" value="Submit" class="resizedButton" />
    </form>
  </div>
</script>
</div>
</body>

</html>

